@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: url(./assets/navidad.gif);
  background-position-y: -40px;
  background-repeat:repeat;
  background-size: cover;
  min-height: 100vh;
}

:root{
  --toastify-color-info: #9455d3;
  --toastify-color-warning: #e6124f;
}