@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: url("https://img.freepik.com/fotos-premium/fondo-pantalla-hd-8k-decoracion-arbol-navidad-imagen-fotografica-stock_915071-67474.jpg?w=2000");
  background-position: center;
  background-repeat:repeat;
  background-size: cover;
  min-height: 100vh;
}

:root{
  --toastify-color-info: #9455d3;
  --toastify-color-warning: #e6124f;
}